:root {
  --fondo-tema-claro: #F8F8FF;
  --fondo-tema-oscuro: #202020;
  --texto-tema-claro: #0F172A;
  --texto-tema-oscuro: #F8F8FF;
  --separador-tema-claro: #333333;
  --separador-tema-oscuro: #CCCCCC;
  --transicion: all 0.3s ease;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--fondo-tema-claro);
  color: var(--texto-tema-claro);
  transition: var(--transicion);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 2rem;
}

body.oscuro {
  background-color: var(--fondo-tema-oscuro);
  color: var(--texto-tema-oscuro);
}

/* Estilos texto */

h1 {
  animation: aparecer 1s ease forwards;
  text-align: center;
  font-size: 2.5rem;
  margin-top: 4rem;
  margin-bottom: 1rem;
}

h2 {
  animation: aparecer 1s ease forwards;
  text-align: center;
  font-size: 2.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

p {
  animation: aparecer 1s ease forwards;
  text-align: center;
  font-size: 1.1rem;
  margin: 0.5rem auto;
}

/* Separadores */

.separador {
  transition: var(--transicion);
  animation: aparecer 1s ease forwards;
  margin: 2rem auto;
  opacity: 0.2;
  width: 60%;
  height: 2px;
  background: var(--separador-tema-claro);
}

.separador-vertical {
  transition: var(--transicion);
  animation: aparecer 1s ease forwards;
  margin: 2rem auto;
  opacity: 0.2;
  width: 2px;
  height: 20vh;
  background: var(--separador-tema-claro);
}

body.oscuro .separador,
body.oscuro .separador-vertical {
  background: var(--separador-tema-oscuro);
  opacity: 0.2;
}

/* Contenedores */

.contenedor-basico {
  margin-top: 1rem;
  text-align: center;
  animation: aparecer 1s ease forwards;
}

.contenedor-proyectos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 600px;
}

.contenedor-extra {
  list-style: none;
  padding: 0;
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
  font-size: 0.8rem;
  text-align: left;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.circulo {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 0.5rem;
  vertical-align: middle;
}

/* Componentes */

.componente-basico {
  padding: 1rem;
  border: 1px solid #333;
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  transition: var(--transicion);
  cursor: pointer;
  transform: scale(1);
  animation: aparecer 1s ease forwards;
  text-align: center;
}

body.oscuro .componente-basico {
  border: 1px solid #ccc;
  background: rgba(255, 255, 255, 0.1);
  color: var(--texto-tema-oscuro);
}

.componente-basico:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.componente-ancho-fijo {
  width: 300px;
  margin: 0 auto;
}

.componente-progress-bar {
  display: flex;
  height: 10px;
  border-radius: 10px;
  overflow: hidden;
  margin: 1rem auto;
  max-width: 400px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.componente-progress-bar .progreso-activo {
   background-color: #4CAF50;
}

.componente-progress-bar .progreso-inactivo {
  background-color: #e0e0e0;
}

body.oscuro .componente-progress-bar .progreso-inactivo {
  background-color: #444;
}

.componente-progress-bar div {
  height: 100%;
}

.componente-progress-bar .html {
  background-color: #E33F26;
}

.componente-progress-bar .css {
  background-color: #264DE4;
}

.componente-progress-bar .js {
  background-color: #F0DB4F;
}

.efecto-escritura {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid var(--texto-tema-claro);
  animation: escribir 3s steps(30, end) forwards;
}

body.oscuro .efecto-escritura {
  border-right: 2px solid var(--texto-tema-oscuro);
}

/* Animaciones */

@keyframes escribir {
  from {width: 0;}
  to {width: 100%;}
}

@keyframes aparecerAbajo {
  from {opacity: 0; transform: translateY(-20px);}
  to {opacity: 1; transform: translateY(0);}
}

@keyframes aparecerArriba {
  from {opacity: 0; transform: translateY(20px);}
  to {opacity: 1; transform: translateY(0);}
}

@keyframes aparecer {
  from {opacity: 0;}
  to {opacity: 1;}
}

/* Footer */

.footer {
  margin-top: 3rem;
  padding: 1rem 0;
  width: 100%;
  max-width: 600px;
  text-align: center;
  font-size: 0.8rem;
  color: var(--texto-tema-claro);
  opacity: 0.7;
  border-top: 1px solid var(--texto-tema-claro);
  animation: aparecer 1s ease forwards;
}

body.oscuro .footer {
  color: var(--texto-tema-oscuro);
  border-top: 1px solid var(--texto-tema-oscuro);
  opacity: 0.5;
}

.card-contextual {
  margin-top: 0;
  padding: 1rem;
  border: 1px solid #333;
  border-radius: 1rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  animation: aparecerAbajo 1s ease forwards;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.4);
  transition: var(--transicion);
  text-align: center;
}

body.oscuro .card-contextual {
  border: 1px solid #ccc;
  background: rgba(255, 255, 255, 0.1);
  color: var(--texto-tema-oscuro);
}

.boton-acceso {
    width: 100%;
  padding: 1rem;
  display: block;
  background-color: #4CAF50;
  color: white;
  border-radius: 1rem;
  text-decoration: none;
  margin-top: 2rem;
}

.boton-acceso:hover {
  background-color: #4CAF50;
}

.oculto {
  display: none;
}

.imagen-estadistica {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

